<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/content.css">
</head>
<body style="background-color:white">
    <div id="navBar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About us</a></li>
            <li id="logo">Dholimara</li>
            <li><a class="active" href="contact">Contact</a></li>
            
            <!-- hover activated dropdown menu -->
            <li>
            <div class="dropDown">
                <button id="dropDown-btn">Community</button>
                <div class="dropDown-content">
                    <a href="culture">Culture</a>
                    <a href="homestay">Homestay</a>
                    <a href="connect">Connect with us</a>
                </div>
            </div>
        </li>
        </ul>
    </div>



    <hr id="footerLine">
    <div id="footer">
            <li class="list"><a href="/">Home</a></li>
            <li class="list"><a href="about">About us</a></li>
            <li class="list"><a href="contact">Contact</a></li>
            <li class="list"><a href="news">News</a></li>
    </div>
</body>
</html>